/* CSS Document */
html{
	background-image: linear-gradient(to bottom right, moccasin, lightseagreen);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
.Welcome p{
	text-align: center;
	font-family: Impact, "Arial Black", "sans-serif";
	margin: 20px 60px 60px 60px;
}
footer{
	text-align: center;
}