/* CSS Document */
html{
	background-image: linear-gradient(to bottom right, moccasin, lightseagreen);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1,h2,h3{
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
.Welcome p{
	text-align: center;
	font-family: Impact, "Arial Black", "sans-serif";
	margin: 20px 60px 60px 60px;
}
footer{
	text-align: center;
}

.Searchcontainer{
	width: 100%;
	max-width: 580px;
	margin: 15px auto;
	background: #f35959;
	padding: 25px 15px;
	display:block;
	text-align: center;
	
}
.container{
	max-width:500px;
	width:100%;
	background: #f35959;
	padding:15px;
	display:block;
	text-align: center;
	margin: auto;
}

form {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.Searchcontainer label{
	width: 100%;
	padding: 0px 15px;
	background-image: linear-gradient(to right,#d5ddf6,#f35959);
	border-bottom: 1px solid #441414;
}
.container label{
	width: 100%;
	padding: 0px 15px;
	background-image: linear-gradient(to right,#d5ddf6,#f35959);
	border-bottom: 1px solid #441414;
}
h2{
	background-image: linear-gradient(to right,#d5ddf6,#f35959);
}